body, html {
    height: 100%;
    margin: 0; /*Removes default margin*/
    display: flex;
    justify-content: center; /*horizontally center*/
    align-items: center; /*vertically center*/
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke; /*background color*/
}

.rectangle {
    width: 100%;
    max-width: 480px; /*max width */
    background-color: white; /*background*/
    border: 1px solid #dee2e6;
    border-radius: 8px; /* Round corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
}

.logo {
    width: 120px; 
    height: 120px; 
    margin-bottom: 15px; /*space below logo*/
}

.logo-text {
    font-size: 1.25rem; 
    color: #333; 
    margin-bottom: 20px; /*space below logo text*/
}

.button {
    background-color: #007bff; 
    color: white; /*text color*/
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; /*round corner*/
    cursor: pointer;
    font-size: 1rem; 
    margin-top: 20px; /*space above button*/
    text-align: center; 
    transition: background-color 0.3s; /*transition effect*/
}

.button:hover {
    background-color: #0056b3;
}

.login-text a {
    color: #007bff; /*link color*/
    text-decoration: none; /*removes underline*/
}

.login-text a:hover {
    text-decoration: underline; /*removes underline*/
    color: #0056b3; /*color on hover*/
}
