<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT FC Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categories.css') }}">
    <script src="{{ url_for('static', filename='categories.js') }}"></script>
</head>
<body>

<div class="sidebar">
    <ul>
        <li><a href="{{ url_for('reportanalysis') }}">Report Analysis</a></li>
        <li><a href="#">FC Categories</a></li>
        <li><a href="{{ url_for('reports') }}">Reports</a></li>
        <li><a href="{{ url_for('signin') }}">Log out</a></li>
    </ul>
</div>

<div class="titlebar">
        <img src="fclogo.png" alt="BIT FC Logo">
        BIT FC Portal
        <input type="text" placeholder="Search...">
</div>

<div class="content">
    <input type="text" placeholder="Search...">
</div>

<div class="content1">
    <p>&nbsp;FC Categories</p>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 1 - Main Auditorium</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : Apr 1, 2024</p>
            <p>To  : Apr 15, 2024</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 2 - Chiller Plant</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : Apr 1, 2024</p>
            <p>To  : Apr 15, 2024</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 3 - Academics Class</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 4 - Power House</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 5 - Vedanayagam Auditorium </p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 6 - Gurugulam</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 7 - SF Seminar Hall 1</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 8 - SF Seminar Hall 2</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 9 - SF Seminar Hall 3</p>
            <br><hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 10 - ECE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 11 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 12 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 13 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 14 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 15 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 16 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 17 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 18 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 19 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 20 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 21 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 22 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 23 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 24 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 25 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 26 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 27 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 28 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 29 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 30 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 31 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 32 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 33 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 34 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 35 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 36 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 37 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 38 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 39 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 40 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 41 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 42 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 43 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 44 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 45 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

<div class="parent-container">
    <div class="container">
        <div class="form">
            <p>FC 46 - EEE Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 47 - Mechanical Seminar Hall</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 48 - CSBS Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 49 - CSE Department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  :  -</p>
            <p>To  : -</p>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <p>FC 50 - IT department Labs</p>
            <hr>
            <p>Duration : 15 days</p>
            <p>From  : -</p>
            <p>To  : -</p>
        </div>
    </div>
</div>

</body>
</html>
